<p>
I began my university studies in September 2009 at IST Lisbon, Portugal’s top engineering university. At that time, my choice of degree was greatly influenced by Matt Ridley’s <a href="https://www.amazon.com/Genome-Autobiography-Species-23-Chapters/dp/0060894083/ref=asap_bc?ie=UTF8" target="_blank"><i>Genome</i> (2006)</a>, which inspired me to go into Genetic Engineering and research.
</p>

<p>
I finished the BSc degree in July 2012 with an average grade of 16/20. During this time, I was most interested in subjects related to advanced mathematics, programming and physics <b>[1]</b>. 
</p>

<p>
Each programming module had a project. In Elements of Programming, the goal was to develop an algorithm for DNA hybridization based on graphs and Hamiltonian paths <b>[2]</b>, using Wolfram Mathematica. In Computational Mathematics <b>[3]</b>, we had to apply root-finding algorithms and approximately solve ordinary differential equations using MatLab. In Algorithms and Computational Modelling, using C and a Java interface <b>[4]</b>, the project consisted of using Bayesian classifications to ascertain if a given patient had cancer.
</p>

<p>
In 2012, I started my MSc in Biomedical Engineering <b>[5]</b> and left volunteering work <b>[B]</b>. In the first semester of the MSc, I completed two group projects: a Biofeedback ECG Tetris Game <b>[6]</b> for children with anxiety disorders, in which the game speed would increase according to the user’s heart-rate; and Kinematic and Dynamic 2-D Representation of the biomechanics in a gait cycle <b>[7]</b>.
</p>

<p>
By this time, I began feeling dissatisfied with possible job prospects in Biomedical Engineering and less interested in medical or genetic engineering related research. After this semester, in February 2013, during an interail across Europe, I reached the conclusion I did not wish to continue the Master’s degree. I went on to study Education Technology in Newcastle University <b>[D]</b> in September 2013.
</p>

<p>
While studying at IST, I completed almost 3 years of volunteer work in GASTagus <b>[B]</b> and was part of a Computational Neuroscience Research Group <b>[C]</b>.
</p>