<p>
This page’s goal is to complement the descriptions of what I have done with how I felt. 
<span class="portfolioNotes"> 
  *This cartoon is quite good at explaining happiness.
  <a class="zoom-in"
    (click)="createDynamicModalImage(img0)">
    <img [src]="ps.getImgByName(img0.name)" style="margin-top: 20px"/>
  </a>
</span>

The two indicators used are happiness and clarity. Clarity is the ability to see clearly what one thinks and why, without involving personal desire. Happiness is the state one feels without being plunged into ego or personal desire.
</p>

<p>
In September 2009, I went to Biomedical Engineering <b>[A]</b> because I dreamed of discovering the cure for cancer through genetic engineering. My favourite modules were differential calculus, electromagnetism and thermodynamics. I also learned and began to enjoy programming. 
</p>

<p>
I began the volunteer training at GASTagus 2 months later <b>[B - 1]</b>. I shared their ideals on volunteer work and collaboration towards a common goal. I liked the training on global citizenship and the idea of going to a foreign country on volunteer work. 
</p>

<p>
As the training continued we, new volunteers and coordinators, began to know each other better and I grew happier and more motivated. In June 2010, I was selected to go to Cape Verde in August <b>[B - 2]</b>, alongside Rita Levy, Paula Antunes, Raquel Amaral and coordinator Pedro Carloto. It was a great personal experience.
</p>

<p>
From November 2010 to May 2012, I was selected to help Susana Lavado (my coordinator) in organising the new volunteers’ training <b>[B - 3]</b>. The work we made in preparing each week’s training, mixing group activities with personal reflection and TED Talks helped me build a brighter and more optimistic vision of the world. In addition, seeing the work of the entire coordination team made me more aware of my limitations, and helped me understand that I had to mature in order to take new volunteers on an international project.
</p>

<p>
In February 2012 I travelled with Luís Costa and Nuno Cruz to Nepal <b>[4]</b>. Kathmandu was the first city I visited in which religious temples had spaces of worship for other religions too. Later that year, in August 2012, I travelled with my sister to North India <b>[6]</b>. It was the first time I saw over-population as an issue.
</p>

<p>
By the time I started my MSc <b>[A - 7]</b> (Sep 2012), I was becoming dissatisfied with the future job prospects in Biomedical Engineering and less interested in medical or genetic engineering related research. 

After the MSc’s first semester, in February 2013 I did an interail <b>[8]</b> across Europe and reached the conclusion 
<span class="portfolioNotes">
		*SOLEs is an acronym for Self-Organised Learning Environments. It is a model of learning in which students research and self-organize in groups with the help of computers with internet access, researching on ‘big questions’ with minimal support from outside agents (e.g. teachers) [for more information, check the 
		<a href="https://s3-eu-west-1.amazonaws.com/school-in-the-cloud-production-assets/toolkit/SOLE_Toolkit_Web_2.6.pdf" target="_blank">SOLE Toolkit</a>].
<br/><br/><br/>
*My experience in Kolkata, along with Tagore’s work in his school were major factors in coming to this conclusion.
	</span>

I did not want to continue the Master’s degree. The next months were spent looking for masters concerning both social causes and quantitative science.
</p>

<p>
In September 2013, I enrolled in the MA in Education Technology at Newcastle University <b>[D]</b>. One of the professors was Dr. Sugata Mitra, that year’s TED Prize winner for his work on alternative education systems (SOLEs) for developing countries based on concepts of physics.
</p>

<p>
The Placement experience in Kolkata <b>[D - 9]</b> helped me realise I did not want to become a teacher. It was at this point that I felt that researching education alternatives with children would be a better fit.
</p>

<p>
On my Master’s thesis <b>“What is the relevance of SOLEs in Maths?”</b> <b>[D - 10]</b>, I interviewed maths innovative educators and read about maths education and pedagogical and technological alternatives. I came across Papert’s work in developing a ‘MathLand’ through programming frameworks and the importance of developing tech applications for educational purposes, as opposed to developing technology which is later fitted in the education system.
</p>

<p>
	That drove me to go studying software development at École 42 <b>[E]</b>. I chose that school because the cooperative, hands-on learning method resonated with me. I was there for a year.
</p>

<span class="portfolioNotes">
	*Check Bret Victor's <a href="http://worrydream.com" target="_blank"><i>WorryDream.com</i></a>, and Edward Tufte’s books:
	<a href="https://www.amazon.com/Visual-Display-Quantitative-Information/dp/0961392142/ref=asap_bc?ie=UTF8" target="_blank"><i>The Visual Display of Quantitative Information</i> (1983)</a>, 
	
	<a href="https://www.amazon.com/Envisioning-Information-Edward-R-Tufte/dp/0961392118/ref=asap_bc?ie=UTF8" target="_blank"><i>Envisioning Information</i> (1990)</a> and <a href="https://www.amazon.com/Visual-Explanations-Quantities-Evidence-Narrative/dp/0961392126/ref=asap_bc?ie=UTF8" target="_blank"><i>Visual Explanations: Images and Quantities, Evidence and Narrative</i> (1997)</a>.
</span>
<p>
	Since I left in December 2015 until August 2017, I took some time off to discover which direction I wished to take, while trying to understand myself a bit better through meditation. I began reading Bret Victor’s and Edward Tufte’s work on <i>information software design</i>  - creating software which is context-sensitive to who the user is and what he is trying to learn at a given moment - and turned towards learning frontend development as a tool to apply their principles in webpages for educational purposes.
</p>
<p>
	From February 2016 to December 2016 I was an intern at INOVAsis in Aveiro <b>[F]</b>, developing the frontend and infographics for a medical analysis WebApp, and from May 2017 until August 2017 I designed and developed this portfolio using Angular2 and D3 as the main frontend frameworks. 
</p>
<p>
	As from August 2017, I look forward to getting more experience in frontend development in a place with a great collaborative work environment. 

	<span class="portfolioNotes">
		*To see examples already developed in this area, check <a href="http://explorabl.es/" target="_blank"><i>Explorabl.es</i></a>.
	</span>
	My long term goal is to develop new ways of showing information, mathematical symbolisms and data to children, while working alongside them in this creative process. I feel that the concepts I have learned in information design and education technology could be most useful in achieving this goal.
</p>
