<p>
My first web programming experience was in the PHP/CSS/HTML/MySQL/Javascript 42 Pool <b>[E - 1]</b>, a 2-week non-stop programming bootcamp to learn how to make basic websites. It was a very intensive learning experience, but as I did not see myself developing websites, I did not feel motivated at the time.
</p>
<span class="portfolioNotes"> 
  *Right now, we still use the same display techniques as we used on the ‘analog’ era. For more information, check Bret Victor’s <a href="http://worrydream.com/#!/MediaForThinkingTheUnthinkable" target="_blank"><i>Media for Thinking the Unthinkable</i> (2013)</a>, and the <a href="http://explorabl.es/" target="_blank"><i>Explorable Explanations</i> website</a>.

  <br/>
  <br/>
  <br/>
  *<i>"Information software design is the design of context-sensitive graphics that incorporates who the user is and what exactly the user wants to learn at the moment"</i> 
  (Bret Victor, <a href="http://worrydream.com/MagicInk/#p138" target="_blank"><i>Magic Ink</i>, 2006</a>).
</span>
<p>
That started to change as I discovered Bret Victor’s work in July 2015. I began to understand that in education, more important than creating new learning tools in state-of-the-art technologies (e.g. in virtual or augmented reality), the key is to create new ways of seeing information and data for the digital era. Web programming, with its javascript frameworks, provides a great starting ground to explore this field of <i>information software design</i>.
</p>

<p>
In February 2016, I began my first Web development project designing infographics in D3 and developing the frontend for a medical analysis WebApp at INOVAsis <b>[F - 2]</b>. I was quite motivated, as I had finished reading Edward Tufte’s <a href="https://www.amazon.com/Visual-Display-Quantitative-Information/dp/0961392142/ref=asap_bc?ie=UTF8" target="_blank"><i>The Visual Display of Quantitative Information</i> (1983)</a> and looked to apply his design principles on infographics.
</p>

<p>
The complexity of this project and my personal motivation kept increasing until June, when we showed our client [the Group of Retina Studies] the app’s demo. From that moment on we worked on increasing the app’s efficiency and reliability, having AJAX requests connected to .NET 4.0 ASP.NET backend (which represents the second spike in complexity), and creating an english version for the app. The project was concluded in December 2016.
</p>

<p>
From May to August 2017, I began developing this portfolio as my next web programming project <b>[3]</b>. I was quite motivated about designing and developing it from scratch. It was my first solo web programming project, in which I learned Angular2 and CSS3.
</p>