<span class="portfolioNotes">
	*Check Bret Victor's <a href="http://worrydream.com" target="_blank"><i>WorryDream.com</i></a>, Don Norman’s 
	<a href="https://www.amazon.com/Design-Everyday-Things-Revised-Expanded/dp/0465050654/ref=asap_bc?ie=UTF8" target="_blank"><i>The Design of Everyday Things - Revised & Expanded Version</i> (2013)</a> and Edward Tufte’s 
	<a href="https://www.amazon.com/Visual-Display-Quantitative-Information/dp/0961392142/ref=asap_bc?ie=UTF8" target="_blank"><i>The Visual Display of Quantitative Information</i> (1983)</a>. 
	
	<br/>
	<br/>

	*SOLEs is an acronym for Self-Organised Learning Environments. It is a model of learning in which students research and self-organize in groups with the help of computers with internet access, researching on ‘big questions’ with minimal support from outside agents (e.g. teachers) [for more information, check the 
	<a href="https://s3-eu-west-1.amazonaws.com/school-in-the-cloud-production-assets/toolkit/SOLE_Toolkit_Web_2.6.pdf" target="_blank">SOLE Toolkit</a>].
	
	<br/>
	<br/>
	
	*<i>"Information software design is the design of context-sensitive graphics that incorporates who the user is and what exactly the user wants to learn at the moment."</i>  
	(Bret Victor, <a href="http://worrydream.com/MagicInk/#p138" target="_blank"><i>Magic Ink</i>, 2006</a>).

</span>

<p>
  During my studies, I have not had any formal design education or training. However, since I found Bret Victor’s work in August 2015, it has become a subject of interest and I had the opportunity to apply it in some of my web development work.
</p>

<p>
My first two design experiences <b>[D - 1, 2]</b> were during my time studying SOLEs. In SOLEs, the room’s interior design should allow children to move and observe freely between computers, while allowing a teacher to monitor from the outside without interfering. I observed how restraining factors (p.e., a big table in the middle of a room) could affect the children’s learning during a session.
</p>

<p>
From February to June 2016, while developing the GER WebApp <b>[F - 3]</b>, I designed the patient’s evolution page and the charts to complement the statistical analysis of selected clinical criteria. I also used Webflow to create interactive and responsive app mockups with the goal of portraying how the new app would work, allowing for quick feedback from the client and the back-end engineer. I was very motivated to apply the principles I had learned from Bret Victor, Don Norman and Edward Tufte’s work on <i>information design</i>.
</p>

<p>
In May 2017 <b>[4]</b> I started designing this portfolio using Inkscape. I based my work largely on the ideas shared by Edward Tufte in <a href="https://www.amazon.com/Envisioning-Information-Edward-R-Tufte/dp/0961392118/ref=asap_bc?ie=UTF8" target="_blank"><i>Envisioning Information</i> (1990)</a> and <a href="https://www.amazon.com/Visual-Explanations-Quantities-Evidence-Narrative/dp/0961392126/ref=asap_bc?ie=UTF8" target="_blank"><i>Visual Explanations: Images and Quantities, Evidence and Narrative</i> (1997)</a>.
</p>