<p>
<span class="portfolioNotes color-project">
Project: École 42 Projects redirects to this page
</span>
My goal studying here was to consolidate computer science skills in order to apply them in social sciences, mainly education. Coming from a master’s in Education Technology, I was also interested in being part of an education experiment and École 42 seemed the right fit.

</p>

<p>
École 42 is a tuition and teacher-free computer science school centred around the ideas of peer learning,  project-based work and self-motivation. Each student would select the projects he/she was interested in doing and code with the help of peers and the Internet. 
<span class="portfolioNotes">
*For more information on École 42 (in English), see this <a href="https://venturebeat.com/2014/06/13/this-french-tech-school-has-no-teachers-no-books-no-tuition-and-it-could-change-everything/" target="_blank">article</a>. 
</span>

When the project was concluded, we would submit the project to correction and other peers would evaluate and test our code. If there were bugs or the code did not follow the pre-established norms, we would fail the projects. If we succeeded, points were credited to our account, which would help us unlock new projects - much like a videogame character.
</p>

<p>
In addition to the projects, there were the 42 <i>Piscines</i> (42 Pools), and the 42 Rushes. The <i>Piscines</i> were 2 to 3 week-long non-stop programming bootcamps to learn new programming frameworks. If we succeeded, new projects on that framework would be unlocked from that moment on. The Rushes were 48-hour collaborative projects in which we had to learn, use the requested frameworks and finish the project to succeed.
</p>

<p>
During the month of September 2014 <b>[1]</b>, I was one of the applicants trying to be selected to become a student. For 24 days with no breaks, we learned how to program in C and use the zsh shell with individual and group projects of increasing difficulty. Having succeeded this selection process, I enrolled as a student in November 2014.
</p>

<p>
<span class="portfolioNotes">
*The projects I concluded (except the 42 Selection Pool) can be found on <a href="https://github.com/tiagomms" target="_blank">GitHub</a>. 
</span>
During that year, I completed the following projects: 
</p>

<ul class="list-for-text">
	<li>
<b>C Programming</b>: 42 Selection Pool <b>[1]</b>; a basic functions library (<i>libft</i>); retrieve the next line from a file (<i>get next line</i>); reverse engineering the printf function (<i>printf</i>); algorithm to display the operations necessary to sort a list of numbers in a pile, using only two piles (<i>push swap</i>);  isometric and parallel projections of wireframes, using minilibX library (<i>fdf</i>); executable with a menu that displays various types of fractals until x number of iterations, using minilibX library (<i>fractol</i>); create a basic sh terminal (<i>sh1</i>); and some exam exercises (<i>exam42-exercises</i>).
	</li>
	<li>
<b>Web Programming</b>: a 14-day 42 Pool on PHP, HTML, CSS, MySQL and Javascript with two Rushes: a basic shopping website and a basic web game (<i>PHP Piscine</i>).
	</li>
	<li>
<b>Assembly</b>: recode of the C basic functions library (<i>libftASM</i>)
	</li>
	<li>
<b>C++ Programming</b>: a calculator of polynomials in the 2nd or 1st degree of real or imaginary numbers (<i>computorV1</i>) and a 14-day 42 Pool with two Rushes: an arcade game and a displayer of computer info (<i>C++ Piscine</i>).
	</li>
	<li>
<b>C#/Unity</b>: a 14-day 42 Pool with 2 Rushes: a Hotline Miami® makeover and FPS 3D slash game (<i>C#/Unity Piscine</i>).
	</li>
</ul>	


<p>
This school taught me the importance of self-motivation and researching on my own. It provided me the skills and self-assurance to learn programming languages by myself, and to develop the GER WebApp <b>[F]</b> and this portfolio <b>[6]</b>.
</p>