<p>
  From February to July 2013 (before starting this Master’s), I looked for a degree that connected social change with quantitative science.
<span class="portfolioNotes">
*Check Frey and Osborne’s article <a href="http://www.oxfordmartin.ox.ac.uk/downloads/academic/The_Future_of_Employment.pdf" target="_blank"><i>'The future of employment: how susceptible are jobs to computerisation?’</i> (2013)</a>, and Alan Kay’s <a href="http://worrydream.com/EnlightenedImaginationForCitizens/" target="_blank"><i>‘Enlightened Imagination for Citizens’</i> (2012)</a>.
</span>
   I was particularly worried about how our institutions and ourselves were not tackling emerging big problems (climate change, non-technical mass unemployment…) and not preparing to face them in a conscious manner. It seemed to me that Education and schooling held an important part in preparing our future generations, but they were caught in what felt like a very rigid schooling system. 
</p>

<p>
I found <a href="https://www.ted.com/participate/ted-prize/prize-winning-wishes/school-in-the-cloud" target="_blank">Dr. Sugata Mitra’s TED Prize Talk</a> around this time. His wish was:
</p>

	<span class="portfolioNotes">
		*SOLEs is an acronym for Self-Organised Learning Environments. It is a model of learning in which students research and self-organize in groups with the help of computers with internet access, researching on ‘big questions’ with minimal support from outside agents (e.g. teachers) [for more information, check the 
		<a href="https://s3-eu-west-1.amazonaws.com/school-in-the-cloud-production-assets/toolkit/SOLE_Toolkit_Web_2.6.pdf" target="_blank">SOLE Toolkit</a>].
	</span>
<blockquote>
" Help design the future of learning by supporting children all over the world to tap into their innate sense of wonder. Help me build the School in the Cloud, a learning lab in India, where children can embark on intellectual adventures by engaging and connecting with information and mentoring online. I also invite you, wherever you are, to create your own miniature child-driven learning environments and share your discoveries. "
</blockquote>

<p>
I felt I wanted to be part of this mission and study under his wing, for his work merged concepts in physics with learning, in a very humane approach to children’s education.
</p>


<p>
I started the Master’s in September 2013. Along with Mitra’s module on Education Technology and the Future of Learning, I chose education development modules <b>[1]</b> to learn more about education policy and economics for development.
</p>

<p>
	<span class="portfolioNotes">
		*<i>"The highest education is that which does not merely give us information but makes our life in harmony with all existence."</i> (Rabindranath Tagore, <a href="https://www.amazon.com/Personality-Rabindranath-Tagore/dp/8171678491/ref=sr_1_1?s=books&ie=UTF8&qid=1501155403&sr=1-1&keywords=personality+tagore" target="_blank"><i>Personality</i>, 1917</a>)
	</span>
The MA included a Placement module, which I carried out in Kolkata, India <b>[2]</b>. I implemented SOLEs in an International Private School from grades 3 to 11, by providing student and teacher training. Here, I learned about Rabindranath Tagore’s educational principles and work, and how he believed school played an important role in achieving “mutual interconnectedness” with one’s being, the community and the world.
</p>

<p>
My Master’s thesis <b>“What is the relevance of SOLEs in Maths?”</b> <b>[3]</b>, under the supervision of Dr. Sugata Mitra, Dr. James Stanfield and Dr. Maria Droujkova aimed to investigate and explore if and how SOLEs in Mathematics can be relevant for Maths Education, in comparison with formal schooling and other innovative approaches. 
</p>

<p>
	<span class="portfolioNotes">
		*For the past few years, there have been developments in new tools, mathematical representations and games to ‘loosen up’ maths schooling. Check Bret Victor’s  
		<a href="http://worrydream.com/KillMath/" target="_blank"><i>Kill Math</i> (2011)</a>; Yelena McManaman and Maria Droujkova’s 
		<a href="http://naturalmath.com/moebius-noodles/" target="_blank"><i>Moebius Noodles</i> (2013)</a>, a book with games for toddlers on notions of combinatorics, algebra and advanced calculus; and <a href="http://www.papert.org/" target="_blank">Papert’s work</a> on mathematical programming languages for children.
	</span>
It helped me see that the way maths is taught and perceived by teachers and children is very different from the study of Mathematics by mathematicians. 


SOLEs could be used as a facilitator, a bridge between these two ‘views’. However, I concluded the internet does not yet possess enough flexibility to represent a given problem and mould itself to the child’s current knowledge and intellectual abilities, while providing the tools necessary to achieve understanding - thus, in the context of Maths education, SOLEs would still require a teacher to assess and guide the child’s intellectual growth.
</p>

<p>
As a whole, this Master’s gave me a deeper knowledge of how in the ‘developed’ and ‘developing’ world, the tensions between private, public sectors and NGOs distort the quality of the education provided. More importantly, it taught me how innovators (e.g. Tagore, Dewey, Illich, Papert, Droujkova, Mitra) tried and try to see beyond conventional education systems. 
</p>

<p>
Around this time, I read Papert’s  

<a href="https://www.amazon.com/Mindstorms-Children-Computers-Powerful-Ideas/dp/0465046746/ref=asap_bc?ie=UTF8" target="_blank"><i>Mindstorms</i> (1993)</a>. After that, I felt the need to learn more about tech applications. I felt like these should be developed and deployed with an educational mindset, instead of the current model of adapting preexisting apps to fit in a conservative educational system - which increases the risk of losing their potential as ‘learning tools’.
</p>

<p>
Thus, once I finished my thesis, I decided to learn more on software development and went on to study at École 42 in Paris <b>[E]</b>.
</p>

<br/>
<br/>
<p>
	<b>Note:</b> Following this work, on February 2015, I was invited as a speaker on <i>‘The Future of Sustainable Development Goals for Education’</i> at the International Development Society Conference in Newcastle University. There, I presented a workshop on SOLEs and other innovative pedagogies across the world aimed at a better and more targeted quality of education.
</p>
