<p>
My first education experience consisted of training monitors for the ACRIDES Summer Camp for misfortunate children in Cape Verde <b>[B - 1]</b>. In November 2010, I became co-responsible for the new volunteers’ training at GASTagus. Susana Lavado (my supervisor) and I created guidelines, training objectives, and researched a lot about group activities and volunteering training <b>[B - 2]</b>.
</p>

<span class="portfolioNotes">
	*SOLEs is an acronym for Self-Organised Learning Environments. It is a model of learning in which students research and self-organize in groups with the help of computers with internet access, researching on ‘big questions’ with minimal support from outside agents (e.g. teachers) [for more information, check the 
	<a href="https://s3-eu-west-1.amazonaws.com/school-in-the-cloud-production-assets/toolkit/SOLE_Toolkit_Web_2.6.pdf" target="_blank">SOLE Toolkit</a>].

</span>
<p>
The first formal education training was during the Master’s in Education Technology at Newcastle University <b>[D - 3]</b>. For my thesis, I was the first to research and design SOLEs for children in Mathematics <b>[D - 4, 5]</b>.
</p>

<p>
In February 2015, I was an invited speaker on ‘The Future of Sustainable Development Goals for Education’ for the International Development Society Conference <b>[7]</b> at Newcastle University. 
</p>

<p>
Currently, my main subject of interest is maths education. In this field, I am inspired by Bret Victor’s  
	<a href="http://worrydream.com/KillMath/" target="_blank"><i>Kill Math</i> (2011)</a>; Yelena McManaman and Maria Droujkova’s 
	<a href="http://naturalmath.com/moebius-noodles/" target="_blank"><i>Moebius Noodles</i> (2013)</a>, a book with games for toddlers on notions of combinatorics, algebra and advanced calculus; and <a href="http://www.papert.org/" target="_blank">Papert’s work</a> on mathematical programming languages for children. From a philosophical standpoint, I am inspired by Tagore’s ideal: 
</p>

<blockquote>
" The highest education is that which does not merely give us information but makes our life in harmony with all existence. " (Rabindranath Tagore, <a href="https://www.amazon.com/Personality-Rabindranath-Tagore/dp/8171678491/ref=sr_1_1?s=books&ie=UTF8&qid=1501155403&sr=1-1&keywords=personality+tagore" target="_blank"><i>Personality</i>, 1917</a>)
</blockquote>

<p>
Working for and with children in order to develop new ways of creating ‘empathy’ with data and information is something I would love to do in the future. I feel that the concepts I have learned in information design and education technology could be most useful in achieving this goal.
</p>