<p>
  Other Programming joins my experiences in Wolfram Mathematica, MatLab, C, SPSS, C++, Assembly and C#/Unity. In other words, all my programming experience except in Web.
</p>

<p>
I started programming at IST Lisbon during my BSc degree <b>[A]</b>. In the first year, we learned to use Wolfram Mathematica <b>[A - 1]</b>; in the second year, MatLab <b>[A - 2]</b>; in the third, C <b>[A - 4]</b>. During the second and third year, I tutored freshman from my course on Wolfram Mathematica.
</p>

<p>
I became more exposed to programming by the end of the BSc degree. Around this time, I  joined the Computational Neuroscience Research Group <b>[C - 3]</b>. There, with my colleague Vasco Conceição, I modelled Reinforcement Learning Algorithms to replicate patients’ Habit Learning pathways using MatLab.
</p>

<p>
On the first semester of the MSc in Biomedical Engineering (Sep 2012 - Mar 2013), 4 in 5 modules involved the use of MatLab <b>[A - 5]</b>, including the group projects Biofeedback Tetris Game <b>[A - 6]</b> and Biomechanics Gait Cycle <b>[A - 7]</b>.
</p>

<p>
I would start programming again (in C) in September 2014 for the École 42 selection process <b>[E - 9]</b>. The learning pace was very fast, and the type of problems were very different from computational mathematics.
</p>

<p>
In November 2014, I enrolled at École 42 <b>[E]</b> and the learning rhythm became self-paced. Since we did not have the support of teachers in preparing our projects, we would test and debug them with the help of our peers and the Internet. If there were bugs or the code did not follow the pre-established norms, we would fail the projects. If we succeeded, we would gain points to unlock new projects. Most first year projects <b>[E - 10]</b> were not very complex. However, they required much attention to detail. I particularly enjoyed the C#/Unity pool and all projects related to graphic visualisations.
</p>

<br/>
<br/>
<p>
When I started programming, I found it a ‘strange new world’ that I did not appreciate. However, that would soon change with the first programming project I had: DNA Hybridization using graphs and hamiltonian paths <b>[A - 1]</b>. I felt quite thrilled when it all began to work. 
</p>

<p>
After this moment, my motivation in programming was correlated with the project’s complexity. However, when I started the MSc at IST Lisbon <b>[A - 5]</b> that stopped being the case, as my focus shifted towards social related issues and I began feeling dissatisfied with possible job prospects in Biomedical Engineering.
</p>

<p>
While studying <a [routerLink]="['portfolio/', 'education---education-technology--master-at-newcastle-university']" routerLinkActive="active"><b>Education Technology</b></a> in Newcastle University, I read Papert’s <a href="https://www.amazon.com/Mindstorms-Children-Computers-Powerful-Ideas/dp/0465046746/ref=asap_bc?ie=UTF8" target="_blank"><i>Mindstorms</i></a>. I began to understand the risks of losing tech applications’ potential as ‘learning tools’ if they were adapted to fit in the formal educational system. With this in mind, I felt the need to learn more about tech application development, and I soon discovered the importance of programming them with an educational mindset from the get go. Since then, this has been my major motivation towards programming.
</p>
