<span class="portfolioNotes">
*SOLEs is an acronym for Self-Organised Learning Environments. It is a model of learning in which students research and self-organize in groups with the help of computers with internet access, researching on ‘big questions’ with minimal support from outside agents (e.g. teachers) [for more information, check the 
<a href="https://s3-eu-west-1.amazonaws.com/school-in-the-cloud-production-assets/toolkit/SOLE_Toolkit_Web_2.6.pdf" target="_blank">SOLE Toolkit</a>].
<br/>
<br/>
	<a style="font-size:14px" class="talign-center" 
	href="/WebPortfolio/assets/downloads/SOLE-for-Maths-Toolkit.pdf" download>
          <i class="fa fa-download" aria-hidden="true">
            <span style=" margin-left: 4px;">Toolkit for Maths</span>
          </i>
    </a>    
</span>

<p>
In Newcastle University <b>[D]</b>, my thesis <strong><i>“What is the Relevance of SOLEs in Maths Education?”</i></strong> aimed to investigate and explore if and how SOLEs in Mathematics can be relevant for Maths Education, in comparison with formal schooling and other innovative approaches. 
</p>

<p>
Since it was a pilot study, I made a thorough analysis of maths education pedagogies, interviewed english math teachers and innovative math educators, designed and observed SOLE sessions in Maths for children in the UK, either conducted by me or by the children’s teacher, and correlated the children’s findings with the UK’s Math National Curriculum.
</p>

<p>
I was supervised and counselled by Dr. James Stanfield and Dr. Sugata Mitra (TED Prize 2013) from Newcastle University’s <a href="http://www.ncl.ac.uk/solecentral/" target="_blank">SOLE Central</a>, and Dr. Maria Droujkova, founder of <a href="http://naturalmath.com/" target="_blank">Natural Math</a>, an organisation in the USA focused on creating rich, multi-sensory experiences in mathematics for children early on.
</p>

<p>
As a side project, I wrote a <b>SOLE Toolkit for Maths</b> complementing the <a href="https://s3-eu-west-1.amazonaws.com/school-in-the-cloud-production-assets/toolkit/SOLE_Toolkit_Web_2.6.pdf" target="_blank">SOLE Toolkit</a> designed by Dr. Sugata Mitra. The Toolkit for Maths can be found on this page attached.
</p>
