<div>
  <div class="xs-margin-top">
    <div class="inline-block" 
    [class.override-inline-block]="isMainPage ==
      'true'">
      <div class="chart-color-caption
      bgcolor-complexity-line"></div><span>Complexity</span>
    </div>
    <div class="inline-block" 
    [class.override-inline-block]="isMainPage ==
    'true'">
      <div class="chart-color-caption
      bgcolor-motivation-line"></div><span>Motivation</span>
    </div>
  </div>
  <div class="xs-margin-top">
    <div class="inline-block" 
    [class.override-inline-block]="isMainPage ==
    'true'">
      <div class="chart-color-caption
      bgcolor-clarity-line"></div><span>Clarity</span>
    </div>
    <div class="inline-block" 
    [class.override-inline-block]="isMainPage ==
    'true'">
      <div class="chart-color-caption
      bgcolor-happiness-line"></div><span>Happiness</span>
    </div>
  </div>
</div>
