<p>
<a href="http://www.gastagus.org" target="_blank">GASTagus</a> is a volunteer organisation based in Lisbon focused on training university students and recent graduates for social change and volunteering, through activities, 
<span class="portfolioNotes color-project">
Project: Volunteer Training Co-Manager redirects to this page
</span>
fundraising for international projects and group collaboration. In 2013 GASTagus won the 10.000€ National Youth Volunteering Award.
</p>

<p>
On my first year (November 2009 - July 2010), I completed General Training for International Volunteering <b>[1]</b>. Throughout the year, the new volunteers (including myself) organised fundraising events and sales to collect money for a global fund. In addition, we participated in weekend retreats for group bonding and personal reflection. The funds collected were used to send the new volunteers to work with local NGOs in an international volunteering project for a month, with all expenses covered. 12 new volunteers were sent on international projects that year.
</p>

<span class="portfolioNotes talign-center"> 
  <a class="zoom-in"
    (click)="createDynamicModalImage(img0)">
    <img [lazyLoad]="ps.getImgByName(img0.name)"
    [offset]="ps.getImgOffset('notes')"/>
    <div style="margin-top: 10px;">{{img0.caption}}</div>
  </a>
</span>

<p>
Throughout August 2010 I was as volunteer in the city of Praia, Cape Verde in cooperation with local NGO ACRIDES <b>[2]</b>. Our work there involved giving educational training to monitors of the ACRIDES Summer Camp for misfortunate children and social awareness training (family planning, drug and alcohol abuse,…) to young adults in Bairro Achada Grande Trás, a neighbourhood with criminal and unemployment related issues.

My main responsibility was to develop activities with the children in the Summer Camp.
</p>

<p>
I continued on the group as a co-manager in training new volunteers for almost two years <b>[3]</b>. I was co-organizer of the pedagogical training of volunteers, responsible for activities related to inner and group reflection about the volunteering mission ahead. From May to July 2011, I helped as a finance assistant of the group’s fund. During these two years, 105 new volunteers were sent in international projects.
</p>

<p>
This volunteer work was carried out alongside the BSc in Biomedical Engineering in IST Lisbon <b>[A]</b>. It changed the way I saw the world, and gave me self-assurance to be the change I want to see around me. The training I received and gave motivated my change of career focus from medical research to social causes.
</p>

<div class="single-image" style="margin-top: 30px;">

  <a class="zoom-in"
    (click)="createDynamicModalImage(img1)">
    <img [lazyLoad]="ps.getImgByName(img1.name)"
    [offset]="ps.getImgOffset('singleImage')"/>
    <div style="margin-top: 10px;">{{img1.caption}}</div>
  </a>
</div>

<div class="single-image" style="margin: 30px 0 20px 0;">
  <a class="zoom-in"
    (click)="createDynamicModalImage(img2)">
    <img [lazyLoad]="ps.getImgByName(img2.name)"
    [offset]="ps.getImgOffset('singleImage')"/>
    <div style="margin-top: 10px;">{{img2.caption}}</div>
  </a>
</div>
