<p>
Throughout the BSc in Biomedical Engineering at IST Lisbon <b>[A]</b>, I had many modules on mathematics and computational mathematics <b>[A - 1]</b>: Differential and Integral Calculus I and II; Linear Algebra; Elements of Programming; Computational Mathematics, Complex Analysis and Differential Equations; Probability and Statistics; Algorithms and Computational Modelling. In addition, I had 5 modules on physics and 3 on electronics, in which we had to apply the mathematical concepts learned.
</p>

<p>
My motivation was closely related to the concepts’ complexity during these years. This began to change when I started the MSc, as my focus had begun to shift towards social issues. Once I left, apart from the research in Computational Neuroscience <b>[C]</b>, I stoped being in touch with advanced mathematics.
</p>
<span class="portfolioNotes">
	*Around this time, I read Lockhart’s 
	<a href="https://www.maa.org/external_archive/devlin/LockhartsLament.pdf" target="_blank"><i>A Mathematician’s Lament</i> (2002)</a>.
</span>
<p>
During my master’s thesis, for the purpose of creating new SOLEs sessions <b>[D - 9]</b>, I rediscovered my interest in Maths. This motivation was still present throughout the development of charts for the GER WebApp <b>[10]</b>, and this portfolio <b>[11]</b>.
</p>

