<p>
Developed at IST Lisbon (October 2012 - February 2013) for the module Biomechanics of Movement, a part of MSc’s in Biomedical Engineering <b>[A]</b>. This project’s goal was to develop a 2-Dimensional kinematic and dynamic representation of a real person’s gait cycle. A Graphical User Interface was developed to simplify the study of kinematic and dynamic movement of specific pre-determined body sections.
</p>
<p>
The workgroup was comprised of 4 students. I worked as group leader and MatLab lead developer, responsible for the Graphical User Interface and data plotting.
</p>

<div class="image-flex-row" style="height: 300px; margin-top: 30px;">
  <a class="zoom-in"
    (click)="createDynamicModalImage(img0)">
    <img [src]="ps.getImgByName(img0.name)"/>
    <div style="margin-top: 10px;">{{img0.caption}}</div>
  </a>
</div>
