<p>
	From April 2012 to October 2013, I worked at IMM Lisbon on a cross-disciplinary research group in Neurocomputational Modelling <b>[C]</b>, supervised by Professor Tiago V. Maia, PhD (<a href="https://tiagomaia.org/" target="_blank">Research Group Page</a>).
	<span class="portfolioNotes color-project">
	Project: Research in Computational Neuroscience redirects to this page
	</span>
</p>
<p>
In the first few months (April-June 2012) we were introduced to neurocomputational modelling in MatLab. Vasco Conceição (a colleague from the BSc in Biomedical Engineering) and I were assigned the research project <strong><i>Anomalies in Habit Learning in Patients with Neuropsychiatric Diseases</i></strong> (in this case, ADHD).
</p>

<p>
Based on the data from a preexisting empirical trial, our goal was to study how ADHD and the corresponding disturbances in the patient’s dopaminergic system were related to the ability of learning habits. To do so, we used Reinforcement Learning algorithms (inspired in Machine Learning) to find a correlation between positive and negative feedbacks in the patient’s brain with the patient’s tendency to respond in a random or assertive manner. Once done, we tried to establish if the obtained mathematical parameters matched our initial hypothesis (based on neurophysiological studies), to increase the validity of our models and findings.
</p>

<p>
Between June 2012 and October 2013, our supervisor
<span class="portfolioNotes talign-center"> 
  <a class="zoom-in"
    (click)="createDynamicModalImage(img0)">
    <img [src]="ps.getImgByName(img0.name)"/>
    <div style="margin-top: 10px;">{{img0.caption}}</div>
  </a>
</span>
 encouraged us to read advanced mathematics and complete some courses. In October 2012, Vasco and I were awarded the 1-year Scholarship: “Education for Science” by the School of Medicine of the University of Lisbon, as one of the best student research projects related to health issues. In addition, in November 2012 we participated in a 1-week post-doc course in Champalimaud Center for the Unknown about Reinforcement Learning algorithms and Neuroscience. In April 2013 <b>[2]</b>, I completed a course on Introduction to Translational and Clinical Biostatistics, by the Biostatistics Laboratory of the University of Coimbra, to improve my understanding of statistical methods and to learn how to use SPSS for the project.
</p>

<p>
This work was made toward the end of the BSc and the start of the MSc in Biomedical Engineering in IST Lisbon, and during the time before I began the Master’s in Newcastle University.
</p>

<p>
This project helped me see that working as a medicine-related researcher was no longer something I wanted to do, and shift to developing and deploying applications with an educational mindset. 
</p>
