/* Grid */
.title-preDef {
  padding-left: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin: auto;
  width: 100%;
}

.mt-title { grid-area: mt-title; }
.pt-title { grid-area: pt-title; }
.wp-title { grid-area: wp-title; }
.de-title { grid-area: de-title; }
.ed-title { grid-area: ed-title; }
.ma-title { grid-area: ma-title; }
.op-title { grid-area: op-title; }
.ic-title { grid-area: ic-title; }

.mt-chart { grid-area: mt-chart; }
.wp-chart { grid-area: wp-chart; }
.pt-chart { grid-area: pt-chart; }
.de-chart { grid-area: de-chart; }
.ed-chart { grid-area: ed-chart; }
.ma-chart { grid-area: ma-chart; }
.op-chart { grid-area: op-chart; }
.ic-chart { grid-area: ic-chart; }

.project-links { grid-area: project-links; padding: 0 20px 0 30px; }
.captions {
  grid-area: captions;
  padding: 0 40px;
  color: #444;
  font:  0.8em Verdana, Arial, sans-serif;
  line-height: 1.7em;
}
.portfolioMainPageGrid {
  display: grid;
  min-height: 100vh;
  min-height: calc(100vh - 70px);
  min-width: 100vw;
  grid-template-columns: [chart-title] 180px
                         [header-title] 300px
                         [first-button] 1fr
                         [second-button] 1fr
                         [third-button] 1fr
                         [header-button-home] 80px;

  grid-template-rows: [padding-header-bottom] 20px 
                      [my-timeline-chart] auto 
                      [padding-charts-top] 5px
                      [web-programming-chart] 1fr 
                      [design-chart] 1fr 
                      [education-chart] 1fr 
                      [mathematics-chart] 1fr 
                      [other-programming-chart] 1fr 
                      [padding-inner-consciousness-top] 10px
                      [inner-consciousness-chart] 1fr 
                      [padding-inner-consciousness-bottom] 15px;
  grid-gap: 0 0;
  grid-template-areas:
    ".        .        .        .        .             .            "
    "mt-title mt-chart mt-chart mt-chart project-links project-links"
    ".        .        .        .        project-links project-links"
    "wp-title wp-chart wp-chart wp-chart project-links project-links"
    "de-title de-chart de-chart de-chart project-links project-links"
    "ed-title ed-chart ed-chart ed-chart project-links project-links"
    "ma-title ma-chart ma-chart ma-chart project-links project-links"
    "op-title op-chart op-chart op-chart project-links project-links"
    ".        .        .        .        .             .     "
    "ic-title ic-chart ic-chart ic-chart captions      captions"
    ".        .        .        .        captions      captions";
}


@media (max-width: 991px) {

  .portfolioMainPageGrid {
    grid-template-columns:[header-title] 5fr
                          [first-button] 2fr
                          [second-button] 2fr
                          [third-button] 2fr
                          [header-button-home] 80px;

    grid-template-rows: [padding-header-bottom] 20px 
                        [my-timeline-title] 25px 
                        [my-timeline-chart] auto 
                        [web-programming-title] 25px 
                        [web-programming-chart] 1fr 
                        [design-title] 25px 
                        [design-chart] 1fr 
                        [education-title] 25px 
                        [education-chart] 1fr 
                        [mathematics-title] 25px 
                        [mathematics-chart] 1fr 
                        [other-programming-title] 25px 
                        [other-programming-chart] 1fr 
                        [inner-consciousness-title] 30px 
                        [inner-consciousness-chart] 1fr 
                        [padding-inner-consciousness-bottom] 30px;
    grid-gap: 0 0;
    grid-template-areas:
      ".        .        .        .             .            "
      "mt-title .        .        project-links project-links"
      "mt-chart mt-chart mt-chart project-links project-links"
      "wp-title .        .        project-links project-links"
      "wp-chart wp-chart wp-chart project-links project-links"
      "de-title .        .        project-links project-links"
      "de-chart de-chart de-chart project-links project-links"
      "ed-title .        .        project-links project-links"
      "ed-chart ed-chart ed-chart project-links project-links"
      "ma-title .        .        project-links project-links"
      "ma-chart ma-chart ma-chart project-links project-links"
      "op-title .        .        project-links project-links"
      "op-chart op-chart op-chart project-links project-links"
      "ic-title .        .        project-links project-links"
      "ic-chart ic-chart ic-chart captions      captions     "
      ".        .        .        captions      captions     ";
  }
  .mt-chart, .wp-chart, .pt-chart, .de-chart, .ed-chart, 
  .ma-chart, .op-chart, .ic-chart 
  {
    margin-left: 20px;
    min-height: 50px;
  }

  .mt-title { padding-top: 0 !important; }
  .project-links { padding-left: 30px; }

  .title-preDef { padding-left: 36px; margin-bottom: 1px; font-size: 10px; }
  .captions {
    font:  0.6em Verdana, Arial, sans-serif;
    line-height: 1.4em;
  }
}
@media (min-width: 1281px) {
  .project-links { padding: 0 20px 0 2.35vw; }
  .portfolioMainPageGrid {
    grid-template-columns: [chart-title] 180px
                           [charts] 1fr
                           [links] calc(2.35vw + 267px + 20px);
    grid-template-areas:
      ".        .        .            "
      "mt-title mt-chart project-links"
      ".        .        project-links"
      "wp-title wp-chart project-links"
      "de-title de-chart project-links"
      "ed-title ed-chart project-links"
      "ma-title ma-chart project-links"
      "op-title op-chart project-links"
      ".        .        .            "
      "ic-title ic-chart captions     "
      ".        .        captions     ";
  }
}
