<p>
At <a href="http://www.inovasis.pt/" target="_blank">INOVAsis</a> in Aveiro, Portugal, I worked as an intern developing and designing infographics in D3 for a medical analysis
<span class="portfolioNotes color-project">
Project: GER WebApp redirects to this page
</span>
 WebApp for the Portuguese Group of Retina Studies (<a href="http://www.ger-portugal.com/" target="_blank">GER</a>). 

I was also responsible for the WebApp’s frontend development.
</p>

<p>
First, I used <a href="https://webflow.com/" target="_blank">Webflow</a> to create interactive and responsive app mockups with the goal of portraying how the new app would work, allowing for quick feedback from the client and the backend engineer. Afterwards, I started tweaking the code and connecting it with the .NET 4.0 backend and SQL database. 
From that moment on, I was able to design and develop infographics in D3 to complement the app's statistical outputs.

<span class="portfolioNotes"> 
  *Below, 3 of the 5 possible charts from the 
    <i>analysis of selected clinical criteria</i> page. For all patients who 
    fulfilled specific criteria, data would be merged for statistical and 
    graphical analysis. These charts held additional information that could be 
    seen while hovering - which we can observe on the second chart.
    
  <a class="zoom-in"
    (click)="createDynamicModalImage(img1)">
    <img [src]="ps.getImgByName(img1.name)" style="margin: 20px 0 80px 0"/>
  </a>
    <a class="zoom-in"
    (click)="createDynamicModalImage(img2)">
    <img [src]="ps.getImgByName(img2.name)" style="margin-bottom: 80px"/>
  </a>  <a class="zoom-in"
    (click)="createDynamicModalImage(img3)">
    <img [src]="ps.getImgByName(img3.name)"/>
  </a>
</span>

</p>


<p>
These infographics enabled doctors to check their patients’ evolution status and obtain statistical and graphical analysis of selected clinical criteria in real time. It also motivated them to digitalise and share their patients’ medical information with their colleagues.
</p>

<!-- IMAGENS -->
<div class="single-image" style="margin: 30px 0;">
  <a class="zoom-in"
    (click)="createDynamicModalImage(img0)">
    <img [src]="ps.getImgByName(img0.name)"/>
    <div style="margin-top: 10px;">{{img0.caption}}</div>
  </a>
</div>
<p>
Here, I worked with Carlos Castro, CEO of INOVAsis and Sara Costa, the project’s supervisor and backend developer. Along with the entire INOVAsis team, they provided me with a great learning environment.
</p>

<p>
Before starting this internship, I had been inspired by Bret Victor’s work on his <a href="http://worrydream.com/" target="_blank">personal website</a>, Don Norman’s: 
<a href="https://www.amazon.com/Design-Everyday-Things-Revised-Expanded/dp/0465050654/ref=asap_bc?ie=UTF8" target="_blank"><i>The Design of Everyday Things - Revised & Expanded Version</i> (2013)</a> and Edward Tufte’s: 
<a href="https://www.amazon.com/Visual-Display-Quantitative-Information/dp/0961392142/ref=asap_bc?ie=UTF8" target="_blank"><i>The Visual Display of Quantitative Information</i> (1983)</a>. 
I looked to apply the concepts of information design in the form of contextually pleasing and informative charts for the user.
</p>

<p>
This internship provided me with the opportunity to learn how to code in D3 and create a WebApp in a company’s setting. It also gave me the self-assurance to develop this portfolio <b>[0]</b>. Most importantly, it gave me a sense of how frontend and infographics development can be deeply connected to education, as the way designers and programmers display information is linked to the way users apprehend and learn.

</p>