<span class="portfolioNotes">
*SOLEs is an acronym for Self-Organised Learning Environments. It is a model of learning in which students research and self-organize in groups with the help of computers with internet access, researching on ‘big questions’ with minimal support from outside agents (e.g. teachers) [for more information, check the 
<a href="https://s3-eu-west-1.amazonaws.com/school-in-the-cloud-production-assets/toolkit/SOLE_Toolkit_Web_2.6.pdf" target="_blank">SOLE Toolkit</a>].
<br/>
<br/>
	<a style="font-size:14px" 
	href="/assets/downloads/Placement_Essay-Tiago-Silva.pdf" download>
          <i class="fa fa-download" aria-hidden="true">
            <span style=" margin-left: 4px;">Placement Essay</span>
          </i>
    </a>    
</span>
<p>
As part of the Master’s in Education in Newcastle University <b>[D]</b>, during a 3 week placement in Kolkata (India), I implemented SOLE sessions in an International K-12 Private School. For 2 weeks, I designed and monitored SOLE sessions from grades 3-11. During the last week, I conducted a full-day workshop on SOLEs for the school teachers, followed by 3 sessions of teacher training on starting SOLEs in their classroom.
</p>
<p>
Back in Newcastle, I presented a Powerpoint about the placement, finished a research diary and wrote an essay on: 
<i>“Is schooling the best way to give education?"</i>
, which can be found attached to this page.
</p>

<p>
On this project I was supervised and counselled by Dr. James Stanfield and Dr. Sugata Mitra (TED Prize 2013) from Newcastle University’s 
<a href="http://www.ncl.ac.uk/solecentral/" target="_blank">SOLE Central</a>, and Dr. Christopher John-Counihan from Newcastle University’s 
<a href="https://egwestcentre.com/" target="_blank">E.G. West Centre</a>. In Kolkata I worked with Professor Dipika Rao, who provided all the conditions for my work.
</p>

<div class="image-flex-row" style="height: 220px; margin-top: 30px;">
  <a class="zoom-in"
    (click)="createDynamicModalImage(img0)">
    <img [lazyLoad]="ps.getImgByName(img0.name)"
     [offset]="ps.getImgOffset('flexRow')">
    <div style="margin-top: 10px;">{{img0.caption}}</div>
  </a>
</div>
