<div class="aboutMeGrid">
  <main-header></main-header>
  <div class="title-section">
    <h2>About Me</h2>
  </div>
  <div class="image-section">
    <div class="img" style="margin-bottom: 30px;">
      <img src="/WebPortfolio/assets/img/selfie.png" alt="me" class="circleImage" />
    </div>
    <div class="links-flex">
      <a href="mailto:tsilva1791@gmail.com">
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </a>

      <a href="https://www.linkedin.com/in/tiago-silva-57471697/" target="_blank">
        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
      </a>

      <a href="https://github.com/tiagomms" target="_blank">
        <i class="fa fa-github" aria-hidden="true"></i>
      </a>
    </div>
    <div class="talign-center">
      <a href="/WebPortfolio/assets/downloads/Resume-Tiago-Silva.pdf" download>
        <i class="fa fa-download" aria-hidden="true">
          <span style="font: 16px Verdana, Arial, sans-serif; margin-left: 5px;">Résumé (Dec 2020)</span>
        </i>
      </a>
    </div>
  </div>
  <div class="text-section">
    <p>My name is Tiago Silva and I’m {{meYears}} years old.</p>
    <p>
      Until 2017, I had studied Biomedical Engineering and Computational Neuroscience in IST Lisbon, Education
      Technology for Maths under Sugata Mitra in Newcastle University and a year in Software Programming at École 42 in
      Paris. I had also worked as an intern for 9 months at INOVAsis in Aveiro, Portugal, designing infographics and
      developing the frontend of a responsive WebApp for the Portuguese Group of Retina Studies.
    </p>
    <p>
      The goal of this webpage was to display all the learning experiences I had in an objective manner, since I entered
      university in September 2009 until August 2017. I used charts to display when and what project I was doing, how
      complex they were and how motivated I was while developing them, and what projects, learning/work places and
      skillsets they were related to. In addition, I included an ‘Inner Consciousness’ page to complement the
      descriptions of what I have done with how I felt at the time.
    </p>
    <p>
      I haven't continued updating the website, but from time to time I will update the homepage and résumé.
      Looking back, the website was a great self-learning experiment - from a developer and designer standpoint, I learned a lot! But I fell on the developer trap of asking feedback too late in the project. The charts are lovely, the website kind of
      unique, but the website navigation became very confusing because of all project/subject relationships. That "failure" was an important thing to learn, when I began actually working and doing VR development.
    </p>
    <p>
      Right now, I am a software engineer at Deloitte Portugal. I work on Cloud Systems Integration and SAP Fiori Full-Stack
      Development. Before joining Deloitte, I worked for a while as a Web Dev Freelancer in D3 and Angular, and
      cross-mobile development in Xamarin. I have completed an Udacity Nanodegree in VR Development and was the
      top-student at a 6 months post-graduation on Software & Information Systems Engineering at IST Lisbon.
    </p>
    <p>
      My personal goal is to develop new interactive and immersive learning experiences. I still hope to merge my Education and Tech background to help people learn more meaningfully.
    </p>
    <p>
      I hope you appreciate this old website and if you want to chat, send me an email or message me at LinkedIn.
    </p>
    <p>Thank you :)</p>
    <br/>
    <br/>
  </div>
  <alert-css componentClass="alert-section"></alert-css>
</div>