<div class="aboutMeGrid">
  <main-header></main-header>
  <div class="title-section">
    <h2>About Me</h2>
  </div>
  <div class="image-section">
      <div class="img" style="margin-bottom: 30px;">
        <img src="/img/selfie.png" alt="me" class="circleImage"/>
      </div>
      <div class="links-flex">
        <a href="mailto:tsilva1791@gmail.com">
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </a>

        <a href="https://www.linkedin.com/in/tiago-silva-57471697/" target="_blank">
          <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        </a>

        <a href="https://github.com/tiagomms" target="_blank">
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
      </div>
      <div class="talign-center">
        <a href="/downloads/Resume-Tiago-Silva.pdf" download>
          <i class="fa fa-download" aria-hidden="true">
            <span style="font: 16px Verdana, Arial, sans-serif; margin-left: 5px;">Résumé</span>
          </i>
        </a>
      </div>
  </div>
  <div class="text-section">
    <p>My name is Tiago Silva and I’m {{meYears}} years old.</p>
    <p>
      Over the past years, I have studied Biomedical Engineering and Computational Neuroscience in IST Lisbon, Education Technology for Maths under Sugata Mitra in Newcastle University and a year in Software Programming at École 42 in Paris. I have also worked as an intern for 9 months at INOVAsis in Aveiro, Portugal, designing infographics and developing the frontend of a responsive WebApp for the Portuguese Group of Retina Studies.
    </p>
    <p>
      The goal of this webpage is to display all the learning experiences I have had in an objective manner, since I entered university in September 2009 until August 2017. I used charts to display when and what project I was doing, how complex they were and how motivated I was while developing them, and what projects, learning/work places and skillsets they were related to. In addition, I included an ‘Inner Consciousness’ page to complement the descriptions of what I have done with how I felt at the time.
    </p>
    <p>
      From this moment onwards, I look forward to getting more experience in frontend development in a place with a great collaborative work environment. My long term goal is to develop new ways of showing information, mathematical symbolisms and data to children, while getting them involved in the creative process.
    </p>
  </div>
  <alert-css componentClass="alert-section"></alert-css>
</div>
